body{
    padding: 20px;
}
.panel .panel-heading h3{
    margin: 0;
}

.panel-success{
    border-color: #5cb85c;
}

.panel-success .panel-heading {
    border-color: #5cb85c;
    background:  #5cb85c;
    color: white;
}

.panel-warning{
    border-color:#ec971f;
}

.panel-warning .panel-heading{
    border-color: #ec971f;
    background: #ec971f;
    color: white;
}

.panel-danger{
    border-color: #c9302c;
}

.panel-danger .panel-heading{
    border-color: #c9302c;
    background: #c9302c;
    color: white;
}
