<h1>Post Page</h1>

<!--write-->
<!-- <div class="panel panel-default">
<div class="panel-body">
</div>
</div> -->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>create post</h3>
    </div>
    <div class="panel-body">
        <form name="createPost"ng-submit="create ()" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2">Title: </label>
                <div class="col-sm-10">
                    <p class="alert alert-danger" ng-show="createPost.title.$invalid ">please enter full title.</p>
                    <input name="title" class="form-control" ng-model ="post.title" ng-minlength="5">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Author: </label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model ="post.author">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <button class="btn btn-success">Create Post</button>
                </div>
            </div>
        </form>
        <br>
    </div>
</div>

<div></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Read All Posts</h3>
    </div>
    <div class="panel-body">

        <button class="btn btn-primary" ng-click="readAll ()">read all</button>

        <!--read-->
        <ul>
            <li ng-repeat="item in postList">
                <div>
                    <strong>ID: </strong>{{ item.id }} <br>
                    <strong>Name: </strong>{{ item.title }} <br>
                    <strong>author: </strong>{{ item.author }} <br>
                </div>
            </li>
        </ul>
        <br>
    </div>
</div>
<div></div>
<!--update  -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3>Update Posts</h3>
    </div>
    <div class="panel-body">

        <form ng-submit="updatePost ()" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">ID: </label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model ="post.id">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Title: </label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model ="post.title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Author: </label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model ="post.author">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <button class="btn btn-warning">Update</button>
                </div>
            </div>
        </form>
        <br>
    </div>
</div>
</div>
<div></div>
<!-- delete -->
<div class="panel panel-danger">

    <div class="panel panel-heading">
        <h3>delete posts</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="create ()" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">ID: </label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model ="post.id">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <button class="btn btn-danger">delete</button>
                </div>
            </div>
        </form>
        <!-- <form ng-submit="deletePost ()">
        <div>
        <label>ID: </label>
        <input ng-model ="post.id">
    </div>
    <br>
    <button>delete</button>
</form> -->
</div>
</div>
