<h1>Post Page</h1>

<!--write-->
<!-- <div class="panel panel-default">
<div class="panel-body">
</div>
</div> -->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3>create post</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="create ()">
            <div>
                <label>Title: </label>
                <input ng-model ="post.title">
            </div>
            <div>
                <label>Author: </label>
                <input ng-model="post.author">
            </div>
            <button>Create Post</button>
        </form>
        <br>
    </div>
</div>

<div></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Read All Posts</h3>
    </div>
    <div class="panel-body">
        <button ng-click="readAll ()">read all</button>

        <!--read-->
        <ul>
            <li ng-repeat="item in postList">
                <div>
                    <strong>ID: </strong>{{ item.id }} <br>
                    <strong>Name: </strong>{{ item.title }} <br>
                    <strong>author: </strong>{{ item.author }} <br>
                </div>
            </li>
        </ul>
        <br>
    </div>
</div>
<div></div>
<!--update  -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3>Update Posts</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="updatePost ()">
            <div>
                <label>ID: </label>
                <input ng-model ="post.id">
            </div>
            <div>
                <label>Title: </label>
                <input ng-model ="post.title">
            </div>
            <div>
                <label>Author: </label>
                <input ng-model="post.author">
                <button>update</button>
            </form>
            <br>
        </div>
    </div>
</div>
<div></div>
<!-- delete -->
<div class="panel panel-danger">

    <div class="panel panel-heading">
        <h3>delete posts</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="deletePost ()">
            <div>
                <label>ID: </label>
                <input ng-model ="post.id">
            </div>
            <br>
            <button>delete</button>
        </form>
    </div>
</div>
